/*
 * This file is intended to contain Schneider Electric reusable style fragments and variables
 * in the form of variables and mixin.  This file should not contain any actual style classes.
 * Items here should be named by their appearance, not by their function.  Functional pieces should
 * be defined in se_style_definitions.css.  This ensures that reusable themes can be defined here, but
 * referenced by the definitions in se_style_definitions.  In this way we can either change the base
 * styles, or the styles intended only to serve a single function.
 */
/* line 1, ../../app/styles/_global.scss */
.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

/* line 6, ../../app/styles/_global.scss */
.link {
  fill: none;
  stroke: #bbb;
}

/* line 11, ../../app/styles/_global.scss */
html {
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: small;
  font-weight: normal;
}

/* line 23, ../../app/styles/_global.scss */
body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  min-width: 910px;
  font-family: open_sansregular;
  font-size: small;
  color: gray;
  background: #f0f0f0;
  font-weight: normal;
}

/* line 35, ../../app/styles/_global.scss */
svg {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
}

/* line 42, ../../app/styles/_global.scss */
.se-diagram {
  position: relative;
}

/* line 46, ../../app/styles/_global.scss */
h1 {
  padding: .75em 0 0 0;
  margin: 0;
  color: #404040;
  font-family: open_sanssemibold;
  font-size: 1.75em;
  line-height: 1em;
}

/* line 55, ../../app/styles/_global.scss */
h2 {
  margin: 0;
  padding: 1em 0 0 0;
  font-size: 1.125em;
  line-height: 1em;
  color: #404040;
  font-family: open_sanssemibold;
  text-transform: uppercase;
  font-weight: normal;
}

/* line 66, ../../app/styles/_global.scss */
td {
  padding: .25em 1em .25em 0;
  vertical-align: middle;
}

/* line 71, ../../app/styles/_global.scss */
table {
  border-spacing: 0;
  border-collapse: separate;
}

/* line 76, ../../app/styles/_global.scss */
.emphasis, .boldEmphasis, .contentBox h2 {
  color: #3e769d;
}

/* line 80, ../../app/styles/_global.scss */
.boldEmphasis, .contentBox h2 {
  font-family: open_sansbold;
}

/* line 85, ../../app/styles/_global.scss */
.contentsWrapper {
  border-left: 39px solid #D8D8D8;
}

/* line 90, ../../app/styles/_global.scss */
.contents {
  border-left: 1px solid #808080;
}

/* line 97, ../../app/styles/_global.scss */
.featureContent {
  padding: 0 2rem 2rem 2rem;
}

/* line 101, ../../app/styles/_global.scss */
.sectiontitle {
  font-size: 1.2em;
  margin: .5em;
}

/* line 106, ../../app/styles/_global.scss */
#oneline-wrapper {
  position: relative;
  width: 863px;
  height: 471px;
  padding: 5px;
  border: 1px solid #2B64A8;
  /*margin:0 auto*/
  margin: .5em;
}

/* line 113, ../../app/styles/_global.scss */
#oneline {
  position: absolute;
  background: white;
}

/* line 117, ../../app/styles/_global.scss */
#oneline-outer-wrapper {
  background-color: white;
  width: 100%;
}

/* line 123, ../../app/styles/_global.scss */
.fluidContentBox, .contentBox {
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: inset 1px 1px 1px #cacfcb;
  overflow: hidden;
  margin: 1em 0 0 0;
  padding: 1em 1.5em;
}

/* line 137, ../../app/styles/_global.scss */
.contentBox h3 {
  color: #3e769d;
  font-size: 1.125rem;
  line-height: 1.125rem;
  margin: 0.5rem 0em;
}

/* line 146, ../../app/styles/_global.scss */
input[type="text"], input[type="password"] {
  border: 1px solid #cacfcb;
  border-radius: 5px;
  font-family: open_sansregular;
  line-height: 2em;
  height: 2em;
  margin: .25em 0;
  padding: 0 .25em;
}

/* line 156, ../../app/styles/_global.scss */
input[type="radio"] {
  vertical-align: text-top;
  margin-right: .5em;
}

/* line 161, ../../app/styles/_global.scss */
button {
  border: 0px;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: #3e769d;
  cursor: pointer;
  outline: none;
  height: 2em;
  line-height: 2em;
  font-family: open_sanssemibold;
}
/* line 172, ../../app/styles/_global.scss */
button:disabled {
  background-color: #a0a0a0;
  cursor: default;
}

/* line 180, ../../app/styles/_global.scss */
.keyPadding {
  padding: .25em 1em .25em 0;
  line-height: 2.5em;
}

/* line 188, ../../app/styles/_global.scss */
.valuePadding {
  padding: .25em 2em .25em 0;
  line-height: 2.5em;
}

/* line 195, ../../app/styles/_global.scss */
.statusValue {
  font-size: small;
  font-family: open_sansregular;
  background-color: #3e769d;
  color: white;
  padding: 0.5em;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 0.2em;
  line-height: 1em;
}

/* line 208, ../../app/styles/_global.scss */
.h3Header {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 1em;
}

/* line 1, ../../app/header/_header.scss */
#header {
  position: relative;
}
/* line 4, ../../app/header/_header.scss */
#header .logo {
  position: absolute;
  height: 58px;
}
/* line 9, ../../app/header/_header.scss */
#header .greybar {
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(235, 235, 235) 96%);
  height: 58px;
  min-width: 910px;
}
/* line 15, ../../app/header/_header.scss */
#header .greenbar {
  background: #569F4A;
  box-shadow: 0 1px 2px #404040 inset;
  height: 10px;
  min-width: 910px;
}
/* line 22, ../../app/header/_header.scss */
#header .greenbarleft {
  background: black;
  opacity: .17;
  height: 10px;
  width: 40px;
}
/* line 29, ../../app/header/_header.scss */
#header .greenbarleftborder {
  box-shadow: -1px 0 1px #404040 inset;
  width: 40px;
  height: 10px;
  position: absolute;
  top: 58px;
}
/* line 37, ../../app/header/_header.scss */
#header .maintitle {
  display: inline-block;
  position: relative;
  margin-top: 6px;
  padding-left: 64px;
  font-size: 1.75em;
  font-family: open_sansbold;
  color: #404040;
}
/* line 46, ../../app/header/_header.scss */
#header .subtitle {
  font-family: open_sanssemibold;
  font-size: .5em;
  line-height: .5em;
  margin-left: 1px;
}
/* line 53, ../../app/header/_header.scss */
#header .alarms {
  box-shadow: inset 1px 1px 1px #cacfcb;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin: 10px 0 0 30px;
  vertical-align: top;
  display: inline-block;
}
/* line 61, ../../app/header/_header.scss */
#header .alarms > ul {
  list-style-type: none;
  display: inline-block;
  margin: 0px;
  padding: 0.4em 0.8em 0.4em 0.7em;
}
/* line 67, ../../app/header/_header.scss */
#header .alarms > ul > li {
  display: inline-block;
  font-size: 1.25em;
  padding: 0 0.25em;
}
/* line 72, ../../app/header/_header.scss */
#header .alarms > ul > li > span {
  vertical-align: middle;
  margin-left: 0.1em;
}
/* line 80, ../../app/header/_header.scss */
#header .headerLinksArea {
  float: right;
  margin: .5em 2em 0 0;
}
/* line 85, ../../app/header/_header.scss */
#header .headerLink {
  display: inline-block;
  margin-left: 1em;
}
/* line 90, ../../app/header/_header.scss */
#header a {
  text-decoration: none;
  color: gray;
}
/* line 93, ../../app/header/_header.scss */
#header a:hover {
  color: #404040;
  text-decoration: underline;
}
/* line 99, ../../app/header/_header.scss */
#header .severitySize {
  font-size: 16px;
}

/* line 1, ../../app/header/_sidebar.scss */
#sidebar {
  bottom: 0;
  left: 0;
  position: absolute;
  top: 68px;
  width: 40px;
  overflow: hidden;
  background: #D8D8D8;
  border-right: 1px solid gray;
  box-sizing: border-box;
}
/* line 12, ../../app/header/_sidebar.scss */
#sidebar .sidebarList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 18, ../../app/header/_sidebar.scss */
#sidebar .sidebarItem {
  display: block;
  color: gray;
  overflow: hidden;
  text-align: center;
  font-size: 1.75em;
  height: 40px;
  width: 40px;
  line-height: 40px;
}
/* line 27, ../../app/header/_sidebar.scss */
#sidebar .sidebarItem:hover {
  color: #404040;
}

/* line 34, ../../app/header/_sidebar.scss */
#footer .footer {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 2em;
}

/* line 1, ../../app/views/_network.scss */
.sideBySide {
  display: inline-block;
}
